<footer class="bg-light text-muted">
    <div class="container-md container-sm py-3 py-md-5">
        <p>build with <a href="https://nodejs.org" class="text-success">nodejs</a></p>
        <p class="font-weight-bolder" style="font-size:10px">fork me on <a href="https://github.com/sanengineer/nodejs-psql-sequelize" class="text-success">github</a></p>
    </div>
</footer>