<h2 class="h4 font-weight-bolder mt-5">User History</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="create-history-tab"
      data-toggle="tab"
      href="#createHistoryMeth"
      role="tab"
      aria-controls="create"
      aria-selected="true"
      >Create</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="update-history-tab"
      data-toggle="tab"
      href="#updateHistoryMeth"
      role="tab"
      aria-controls="update"
      aria-selected="false"
      >Update</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="delete-history-tab"
      data-toggle="tab"
      href="#deleteHistoryMeth"
      role="tab"
      aria-controls="delete"
      aria-selected="false"
      >Delete</a
    >
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content py-3">
  <div
    class="tab-pane active"
    id="createHistoryMeth"
    role="tabpanel"
    aria-labelledby="create-history-tab"
  >
    <form method="post" action="/admin/user-game-history">
      <div class="form-group">
        <label for="forScore">Score</label>
        <input
          id="formScore"
          type="text"
          name="score"
          class="form-control col-md-4"
        />
      </div>
      <div class="form-group">
        <label for="forComment">Comment</label>
        <input
          id="formComment"
          type="text"
          name="comment"
          class="form-control col-md-4"
        />
      </div>
      <button class="btn btn-success" type="submit">Add</button>
    </form>
  </div>
  <div
    class="tab-pane"
    id="updateHistoryMeth"
    role="tabpanel"
    aria-labelledby="update-history-tab"
  >
    <form method="update" action="/admin/user-game-history">
      <div class="form-group">
        <label for="forScore">Score</label>
        <input
          id="formScore"
          type="text"
          name="score"
          class="form-control col-md-4"
        />
      </div>
      <div class="form-group">
        <label for="forComment">Comment</label>
        <input
          id="formComment"
          type="text"
          name="comment"
          class="form-control col-md-4"
        />
      </div>
      <button class="btn btn-warning" type="submit">Update</button>
    </form>
  </div>
  <div
    class="tab-pane"
    id="deleteHistoryMeth"
    role="tabpanel"
    aria-labelledby="delete-history-tab"
  >
    <form method="post" action="/admin/user-game-history">
      <div class="form-group">
        <label for="forScore">Score</label>
        <input
          id="formScore"
          type="text"
          name="score"
          class="form-control col-md-4"
        />
      </div>
      <div class="form-group">
        <label for="forComment">Comment</label>
        <input
          id="formComment"
          type="text"
          name="comment"
          class="form-control col-md-4"
        />
      </div>
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
  </div>
</div>
