<h2 class="h4 font-weight-bolder mt-5 mb-2">User Game Biodata</h2>

<form method="post" action="/admin/user-game-biodata">
  <div class="form-group">
    <label for="forUserGameId">User Id</label>
    <input
      id="formScore"
      type="text"
      name="user_id"
      class="form-control col-md-4"
    />
  </div>
  <div class="form-group">
    <label for="forFullname">Fullname</label>
    <input
      id="formFullname"
      type="text"
      name="fullname"
      class="form-control col-md-4"
    />
  </div>
  <div class="form-group">
    <label for="forSex">Sex</label>
    <input id="formSex" type="text" name="sex" class="form-control col-md-4" />
  </div>
  <div class="form-group">
    <label for="forJobs">Jobs</label>
    <input id="forJobs" type="text" name="jobs" class="form-control col-md-4" />
  </div>
  <button class="btn btn-success" type="submit">Add</button>
</form>
